/*RESET STYLE BEGINER*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

ol, ul {
list-style: none;
}
ul li {
list-style-type: none;
}

img {
  max-width: 100%;
}

a, a:hover {
text-decoration: none;
color: #000;
}

html {height: 100%;}

body {
  height: 100%;
  background-color: #fff;
  font: 16px 'Open Sans', sans-serif;
}

.left {
float: left;
}

.right {
float: right;
}

.overflow {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
content: " ";
display: table;
}
.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}

.text-right {text-align: right;}
.text-left {text-align: left;}

.none {display: none;}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.show {
  top: 5em !important;
}
/*RESET STYLE END*/

// IMPORT BEGINNER
@import "app/import/variables";
@import "app/import/mixin";
@import "app/import/fonts";
// IMPORT END

/*HEADER BEGINNER*/
header {
  height: 803px;
  // display: block;
  background: url(../img/bg-header.jpg) no-repeat  50% 50%;
  background-size: cover;
}

/*Logotip*/
section.logo-menu {
  padding-top: 50px;
  .logo{display: inline-block;}
}



/*Navigation Beginner*/
nav {
  width: 25.9%;
  label {
    margin-right: 16px;
    vertical-align: top;
    color: $w;
    cursor: pointer;
  }

  div.toggle {
    position: relative;
    display:inline-block;
    width: 40px;
    height: 36px;
    // margin: 15px 0 0 7px;
    input {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      &:checked {
        + span {
          background: transparent;
          &:after {
            transform: rotate(45deg) translate(-1px, -12px);
          }
          &:before {
            transform: rotate(-45deg) translate(-4px, 16px);
          }
        }
      }
    }
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
      margin-top: 10px;
      transition: all 0.1s;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: -12px;
        transition: all 0.3s;
      }
      &:after {
        top: 12px;
      }
    }

  }

  ul.menu {
    position: absolute;
    top: -20em;
    right: 5em;
    background: $nav;
    transition: all 0.5s ease;
    width: 200px;
    flex-direction: column;
    text-align: center;

    li {
      transition: background 0.5s ease;
      &:hover {background: $nav2;}
      a {
        display: block;
        padding: 10px 15px;
        font: 16px Arial, sans-serif;
        color: #fff;
      }
    }
  }
}
/*Navigation End*/

/*Section Header Middle Beginner*/
section.header-middle {
  margin-top: 224px;
  h1 {
    margin-bottom: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: $w;
    span{color: $things;}
  }

  h2 {
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    color: $w;
  }

  div.header-btn {
    margin-top: 64px;
    flex-wrap: wrap;
    justify-content: center;
    button {
      padding: 20px 76px;
      background: transparent;
      text-transform: uppercase;
      color: $w;
      cursor: pointer;
      border: 1px solid $bd;
      border-radius: 8px;
      transition: background 0.3s ease;
      &:last-child {margin-left: 27px;}
      &:hover {background: $things; border: none;}
    }
  }
}
/*Section Header Middle End*/
img#open {
  display: inline-block;
  margin: 100px 0 0 47.2%;
  cursor: pointer;
  transition: filter 0.3s ease;
  &:hover {
    -webkit-filter: drop-shadow(0 0 3px rgba(255,255,255,0.9));
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.9));
  }
}
/*HEADER END*/

/*SECTION AFTER HEADER BEGINNER*/
section.after-header {
  display: none;
  height: 503px;
  padding-top: 101px;
}

ul.design {
  justify-content: center;
  flex-wrap: wrap;
  li {
    display: block;
    width: 197px;
    margin-right: 50px;
    text-align: center;
    div {
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      // flex-wrap: wrap;
      height: 150px;
      width: 150px;
      border: 1px solid $design;
      border-radius: 50%;
      transition: background 0.3s ease;
      &:hover {background: $bd;}
      a.first-icons {
        display: block;
        width: 60px;
        height: 60px;
        background: url(../img/design-icons.png) no-repeat;
        &.two {background-position: -58px 0;}
      }
      a.second-icons {
        display: block;
        width: 37px;
        height: 60px;
        background: url(../img/design-icons.png) no-repeat -120px 0;
        &.else {background-position: -159px 0;}
      }
    }

    h4 {
      margin: 29px 0;
      text-transform: uppercase;
      color: $txt;
    }
    p {
      line-height: 30px;
      color: $txt;
    }
  }
}
/*SECTION AFTER HEADER END*/

/*SECTION SUBSCRIBE BEGINNER*/
section.subscribe {
  display: block;
  height: 250px;
  padding-top: 100px;
  background: url(../img/bg-subscribe.jpg) no-repeat;
  form {
    display: block;
      input[type="text"] {
      @include subscribe;
      width: 50%;
      padding: 21px 0 18px 36px;
    }
    input[type="submit"] {
      @include subscribe;
      margin-left: 30px;
      padding: 20px 90px;
      background: $things;
      text-transform: uppercase;
      font-weight: bold;
      color: $w;
      cursor: pointer;
    }
  }
}
/*SECTION SUBSCRIBE END*/

/*SECTION OUR WORK BEGINNER*/
section.our-work {
  padding: 100px 0;
  button.show-more {
    display: block;
    margin: 0 auto;
    padding: 18px 56px;
    text-transform: uppercase;
    color: $txt;
    border: 1px solid $bd;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {background: $things; border: none;}
  }
}
div.descr-work {
  display: block;
  margin: 0 auto;
  width: 461px;
  h1 {
    @include h1;
    span{color: $things;}
  }
  p{
    @include p;
  }
}

ul.work-img {
  margin: 100px 0;
  li {
    display: inline-block;
    margin: 0 15px 15px 0;
    &:nth-child(3n) {margin-right: 0;}
    a {
      position: relative;
      display: block;
      width: 360px;
      height: 360px;
      background: url(../img/our-works.jpg) no-repeat;
      // transition: all 0.3s ease;
      &.monitor {background-position: -575px 0;}
      &.notebook {background-position: -1148px 0;}
      &.laptop {background-position: -1725px 0;}
      &.coffee {background-position: -2623px -50px;}
      &.item-else {background-position: -3160px -0;}
      &:hover div.hover-block{visibility: visible;}

      div.hover-block {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 87px;
        background: $bg;
        color: $w;
        transition: visibility 0.3s ease-in-out;
        h2 {
          text-transform: uppercase;
          text-align: center;
        }

        p {
          margin: 30px 0 30px 0;
          display: block;
          font-size: 14px;
          text-align: center;
          line-height: 38px;
        }

        button.show-proj {
          margin-left: 76px;
          padding: 20px 46px 15px 46px;
          text-transform: uppercase;
          color: $things;
          border: none;
          background: $w;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
  }
}
/*SECTION OUR WORK END*/

/*SECTION SLIDER AFTER OUR WORK BEGINNER*/
section.slider-after-our-work {
  position: relative;
  padding: 100px 0 100px 240px;
  background: url(../img/bg-slider-after.jpg) no-repeat;
  button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    font-size: 40px;
    color: $w;
    cursor: pointer;
  }
  button#slider-left {
    left: 10%;
  }
  button#slider-right {
    right: 10%;
  }
}

section#slider {
  width: 891px;
  // height: 30px;
  overflow: hidden;
}
ul#polosa {
  position: relative;
  left: 0;
  width: 2673px;
  transition: all ease 1s;
  li {
    position: relative;
    width: 891px;
    // height: 300px;
    float: left;
    color: $w;
    div.img-slide {
      display: block;
      width: 122px;
      height: 122px;
      margin: 0 auto;
      background: url(../img/img-slide.jpg) no-repeat;
      border-radius: 50%;
    }
    h2 {
      margin: 49px 0 40px 0;
      text-align: center;
      font-size: 25px;
      font-style: italic;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }
}
/*SECTION SLIDER AFTER OUR WORK END*/

/*SECTION OUR TEAM BEGINNER*/
section.our-team {
  padding: 102px 0;
}
div.team-descr {
  display: block;
  margin: 0 auto;
  max-width: 488px;
  h1 {
    @include h1;
    span{color: $things;}
  }
  p {
    padding: 30px 0 104px 0;
    text-align: center;
    line-height: 28px;
    color: $txt;
  }
}

ul.team {
  flex-wrap: wrap;
  li {
    flex-basis: 264px;
    margin-right: 28px;
    &:last-child{margin-right: 0;}
    a{
      display: block;
      width: 235px;
      height: 278px;
      border: 1px solid $team;
      border-radius: 10px;
      background: url(../img/our-team.png) no-repeat;
      &.harvey {background-position: -274px 0;}
      &.janet {background-position: -548px 0;}
      &.kevin {background-position: -832px 0;}
    }
    h2 {
      padding: 30px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      color: $txt;
    }
    p {
      margin-top: 33px;
      text-align: center;
      font-size: 14px;
      line-height: 27px;
    }
  }
}

ul.social-icons {
  text-align: center;
  li{
    display: inline-block;
    margin-right: 15px;
    &:last-child {margin-right: 0;}
    a{
      display: block;
      width: 25px;
      height: 25px;
      background: url(../img/team-icons.png) no-repeat;
      &.tw {background-position: -26px 0;}
      &.gpl {background-position: -52px 0;}
    }
  }
}

ul.crumbs {
  margin: 0 auto;
  li {
    display: inline-block;
    margin-right: 19px;
    width: 12px;
    height: 12px;
    background: $team;
    border-radius: 50%;
    &:last-child{margin-right: 0;}
  }
}
/*SECTION OUR TEAM END*/
